
html.dark {
  --primaryTheme:#32373f;
  --text: #ffffffcc;
  --secondaryTheme: #191b1b; 
  --background:  #1f2222;
  --headerBg: #191b1b;
  --info: #0a94d4;
  --capaOverlayBg: rgba(0, 0, 0, .6);
  --animatedCircleBg: #25b7fa;
  --socialFooterColor: #232121;
  --socialFooterBg: #ffffff;
  --projectCardBoxShadow: -4px 5px 25px 9px rgba(50,211,224,0.39);
  --overlayProject: rgba(0, 0, 0, .8);
  --actionIconColor: #25b7fa;
  --heroBg: url('../../static/img/city-night.webp');
  --modalOverlay: rgb(0, 0, 0, .5);
}