
html.dark {
  --primaryTheme: #1E293B;
  --text: #F3F4F6;
  --secondaryTheme: #111827;
  --background: #1E293B;
  --headerBg: #0F172A;
  --info: #0a94d4;
  --avatarBg: #25b7fa ;
  --capaOverlayBg: rgba(0, 0, 0, .5);
  --animatedCircleBg: rgba(37, 183, 250, .1);
  --socialFooterColor: #232121;
  --socialFooterBg: #ffffff;
  --projectCardBoxShadow: 8px 14px 5px 0px rgba(20, 168, 176, 0.275);
  --overlayProject: rgba(0, 0, 0, .6);
  --actionIconColor: #25b7fa;
  --heroBg: url('../../static/img/city-night.webp');
  --modalOverlay: rgb(0, 0, 0, .5);
  --themeTitle: #5EEAD4;
  --terminalPrompt: #25b7fa;
  --terminalOutput: #9CA3AF;
  --terminalBackground: #0D1117;
  --terminalBorder: 1px solid #1f2937;
  --modalAnchor: #111827;
}