
:root {
  --primaryTheme: #FFFFFF;
  --text:	#111827;
  --secondaryTheme: #F3F4F6;
  --background: #FFFFFF;
  --headerBg: #ffffff;
  --info: #0a94d4;
  --avatarBg: #1e96cd;
  --capaOverlayBg: rgb(0, 0, 0, .5);
  --animatedCircleBg: #1e96cd36;
  --socialFooterBg: #232121;
  --socialFooterColor: #ffffff;
  --projectCardBoxShadow: 8px 14px 5px 0px rgba(0,0,0,0.16);
  --overlayProject: rgba(0, 0, 0, .6);
  --actionIconColor: #1e96cd;
  --heroBg: url('../../static/img/city-day.webp');
  --modalOverlay: rgb(0, 0, 0, .3);
  --themeTitle: #14B8A6;
  --terminalPrompt: #1e96cd;
  --terminalOutput: #62666e;
  --terminalBackground: #ffffff;
  --terminalBorder: 1px solid #b6bcc7;
  --modalAnchor: #F3F4F6;
}