
:root {
  --primaryTheme: #8ba5b7;
  --text: #232121;
  --secondaryTheme: #c2d8e7;
  --background: #e3eff7;
  --headerBg: #ffffff;
  --info: #0a94d4;
  --capaOverlayBg: rgb(0, 0, 0, .5);
  --animatedCircleBg: #0c3c69;
  --socialFooterBg: #232121;
  --socialFooterColor: #ffffff;
  --projectCardBoxShadow: -4px 5px 25px 9px rgb(0 0 0 / 39%);
  --overlayProject: rgb(37 183 250 / 80%);
  --actionIconColor: #232121;
  --heroBg: url('../../static/img/city-day.png');
}