#about {
  //padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: var(--background);
  width: 100vw;

  p {
    color: var(--text);
    font-size: 18px;
    font-weight: 400;

    @media screen and (width >= 768px) {
      font-size: 20px !important;
    }
  }

  .avatar-efect {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .blob {
      position: relative;
      width: 550px;
      height: 450px;
      background: linear-gradient(70deg, #16ceb5, #159de9);
      //border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      overflow: hidden;

      aspect-ratio: 1;
      clip-path: shape(from 87.45% 45.02%,curve to 92.48% 56.45% with 90.99% 50.00%,curve to 92.05% 69.35% with 93.97% 62.91%,curve to 82.42% 77.15% with 90.14% 75.80%,curve to 71.01% 83.22% with 74.69% 78.49%,curve to 61.91% 91.53% with 67.33% 87.95%,curve to 49.74% 96.95% with 56.49% 95.12%,curve to 38.70% 91.46% with 42.99% 98.79%,curve to 25.99% 85.79% with 34.41% 84.13%,curve to 15.38% 80.54% with 17.56% 87.44%,curve to 14.30% 66.90% with 13.20% 73.65%,curve to 13.33% 55.08% with 15.41% 60.16%,curve to 11.20% 44.30% with 11.25% 50.00%,curve to 11.95% 32.32% with 11.14% 38.59%,curve to 16.84% 21.25% with 12.75% 26.06%,curve to 27.31% 15.38% with 20.92% 16.44%,curve to 38.83% 11.12% with 33.70% 14.32%,curve to 50.39% 5.23% with 43.95% 7.93%,curve to 62.85% 5.60% with 56.83% 2.53%,curve to 72.70% 14.03% with 68.88% 8.67%,curve to 79.11% 24.51% with 76.53% 19.39%,curve to 82.80% 34.84% with 81.69% 29.63%,curve to 87.45% 45.02% with 83.91% 40.04%);

      .about-img {
        position: relative;
        width: 630px;
        z-index: 2;
        //filter: drop-shadow(2px 4px 6px white);
        top: -20px;
        left: -40px;
      }
    }

    .blob-img {
      position: absolute;
      z-index: 0;
      height: auto !important;

      top: -200px;
    }
  }

  .terminal-container {
    position: relative;
    z-index: 2;

    .lego {
      animation: surf 5s ease-in-out infinite;
      position: absolute;
      top: 0;
      left: 70px;
      //filter: drop-shadow(2px 4px 6px #16ceb5);
    }
  }

  @media (max-width: 540px) {
    .text-about {
       text: {
         align: center;
       }
    }
    .avatar-efect {
      margin: auto;

      .blob {
        width: 400px;
        height: 300px;

        .about-img{
          width: 400px;
          left: 5px;
        }
      }

     .blob-img {
      width: 300px;
     }
    }
   }

  .text-about {
    font-size: 18px;
  }
   
    .skills {
      ul {
        padding-left: 1.5rem !important;
        li {
          font-size: 18px;

          @media screen and (width >= 768px) {
            font-size: 20 !important;
          } 
        }
      }
    }
}

@media only screen and (max-width: 600px) {
 #about {
   padding-top: 0;
 }
}

/*WAVE INICIO*/

.wave-about{
    width: 100vw;
    height: 300px;
    position: absolute;
    top: -295px;
    left: 0;
    right: 0;
    z-index: 1;
    mask: url(../static/img/wave-hero-sm.svg);
    background-color: var(--background);
    mask-repeat: no-repeat;
    mask-position: bottom;

    @media only screen and (width >= 1350px) {
      mask: url(../static/img/wave-hero-md.svg);
      height: 335px;
      top: -330px;
      mask-size: cover;
    }

    @media only screen and (width >= 2100px) {
      height: 500px;
      top: -495px;
    }
}

  /*WAVE FINAL*/

@keyframes surf {
  0%, 100% {
    translate: 0;
  }
  50% {
    translate: 0 2rem;
    rotate: 2deg;
  }
}






 
