

footer {
  padding: 0 50px;
  padding-bottom: 70px;
  position: relative;
  h3 {
    color: #eaecee;
  }
  hr{
    background: #4e54c8;
    height: 3px;
  }
  p {
    color: #eaecee;
    font-size: 16px;
  }
}

.wave-footer{
    width: 100vw;
    height: 300px;
    position: absolute;
    top: -295px;
    left: 0;
    right: 0;
    z-index: 1;
    mask: url(../static/img/wave-hero-sm.svg);
    background-color: var(--primaryTheme);
    mask-repeat: no-repeat;
    mask-position: bottom;

    @media only screen and (width >= 1350px) {
      mask: url(../static/img/wave-hero-md.svg);
      height: 335px;
      top: -330px;
      mask-size: cover;
    }

    @media only screen and (width >= 2100px) {
      height: 500px;
      top: -495px;
    }
}

  /*WAVE FINAL*/


