

footer {
  padding: 0 50px;
  padding-bottom: 70px;
  position: relative;
  h3 {
    color: #eaecee;
  }
  hr{
    background: #4e54c8;
    height: 3px;
  }
  p {
    color: #eaecee;
    font-size: 16px;
  }
}

.wave-footer{
    width: 100vw;
    height: 300px;
    position: absolute;
    top: -299px;
    left: 0;
    right: 0;
    z-index: 1;
    mask: url(../static/img/wave-hero-sm.svg);
    background-color: $primary;
    mask-repeat: no-repeat;
    mask-position: bottom;

    @media only screen and (width >= 1350px) {
      mask: url(../static/img/wave-hero-md.svg);
      height: 335px;
      top: -333px;
      mask-size: cover;
    }
}

  /*WAVE FINAL*/

// .wabe_footer {
//   &::before {
//     mask: url('../static/img/wave-hero-sm.svg');
//     mask-repeat: no-repeat;
//     height: 300px;
//     margin-top: -300px;
//     content: "";
//     display: block;
//     position: relative;
//     left: 0px;
//     right: 0px;
//     background-color: $primary;
//     background-size: 100%;
//     mask-size: 100%;
//     -webkit-mask-size: 100%;
//     -webkit-mask-position-y: bottom;
//   }
// }



