

#terminal {
  position: relative;
  width: 90vw;
  height: 260px;
  background: var(--terminalBackground);
  border: var(--terminalBorder);
  position: relative;
  z-index: 2;

  padding: 0.5rem;

  margin: 15px auto;
  border-radius: 14px;
  margin: auto;
  margin-bottom: 20px;

  @media only screen and (width >= 500px) {
    height: 330px;
  }

  @media only screen and (width >= 570px) {
    height: 430px;
  }

  @media only screen and (width >= 760px) {
     width: 630px;
  }

  #header {
    position: relative;
    height: 40px;
    width: 100%;
    background: var(--terminalBackground);
    display: flex;
   
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    
    span {
      height: 12px;
      width: 12px;
      margin: 0.25rem;;
      border-radius: 50%;
      box-shadow: 1px 2px 20px rgba(0,0,0,0.3);

      &:nth-child(1){
        background: red;
      }
      &:nth-child(2){
        background: orange;
      }
      &:nth-child(3){
        background: rgb(21,206, 67);
      }
      
    }
  }  

  #body {
    position: relative;
   
    .body__item {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      font-family: monospace;

      .body__item_title {
        color: var(--terminalPrompt);
        font-weight: bold;
      }

      .body__item_info_box {
        color: var(--terminalOutput);
        padding: 0.5rem;
        margin-top: 0.5rem;
        outline: none !important;
        font-weight: bold;
      }

      .body__item_location {
        color: var(--terminalOutput);
        padding: 0.5rem;
        font-weight: bold;
      }

      .body__item_time {
        color: var(--terminalOutput);
        font-weight: bold;
      }

      .icon_location {
         color: var(--terminalOutput);
      }
    }
  }

}
